:root{
    --w: calc(940/1400*100%);
    --c:#FDD03B;
    --wsi:calc(400/1400*100%);
    --cp:#767676;
    --cm:#212121;
}

body{
    padding: 0;
    margin: 0;
    font: 400 14px 'Roboto_Slab',"Sans Serif";
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--w);
    margin: 0 auto;
}

.logo{
    font: 300 26px 'WisdomScriptAJ';
    letter-spacing: 2px;
}

.main-header a{
    text-decoration: none;
    color: #212121;
}
.main-nav > a{
    color: var(--c);
}

.main-header{
    padding-top: 40px;
    margin-bottom: 126px;
    
}


.menu-list {
    display: flex;
    list-style: none;
    font: 300 14px 'Montserrat bold', 'sans serif';
    text-transform: uppercase;
    width: calc(var(--w)*0.8);
    justify-content: space-between;
}
.menu-items:hover a{
    color: var(--c);
}
.menu-items a {
    color: var(--cm);
}

/* services */
.services {
    width: var(--w);
    margin: 0 auto;
    margin-bottom: 120px;
}
 h2 {
    text-transform: uppercase;
    font: 700 40px 'Montserrat Bold';
    text-align: center;
    color: var(--cm);
}

 h2:after {
    content: 'Proin iaculis purus consequat sem cure.';
    display: block;
    font: 300 16px 'Droid Serif', 'Sans serif';
    color: var(--cp);
    margin: 20px auto;
    font-style: italic;
    text-transform: initial;
}

.services-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.services-items {
    width: var(--wsi);
    text-align: center;
}

.services-items h3::before {
    margin: 20px auto;
    content: '';
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 3px solid rgb( 254, 209, 54 );
    background: url(../img/icons/Icon-Basket.png) center no-repeat;
}

.services-items:nth-child(2n) h3::before {
    background-image: url(../img/icons/Icon-Laptop.png);
}
.services-items:nth-child(3n) h3::before{
    background-image: url(../img/icons/Icon-Locked.png);
}
.services-items h3{
    margin-bottom: 20px;
    font: bold 18px 'Montserrat Bold';

}
.services-items p {
    color: var(--cp);
    line-height: 1.5;
    
}

/* contact-us */

.contact-us{
    background: 
    var(--cm) 
    url("../img/Map-Image.png") no-repeat right;
    height: 680px;
    padding: 110px 0px 0px 0px;
}

.contact-us h2{
    color: #fff;
}
.wrapper {
    width: var(--w);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-list {
    height: 207px;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-items {
    list-style: none;
    
    
}
.input-items input {
    box-sizing: border-box;
    font:700 14px 'Montserrat Bold', 'Sans serif';
    text-transform: uppercase;
    color: var(--cm);
    border: none;
    padding: 0 0 0 15px;
    margin: 0;
    width: 100%; 
    height: 54px;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder{
    color: rgb( 187, 187, 187);
}

input:valid, textarea:valid {
    outline: 4px solid green;
}

input:invalid, textarea:invalid {
    outline: 4px dashed red;
}

.wrapper textarea{
    box-sizing: border-box;
    padding: 15px 0 0 15px;
    margin: 0;
    height: 207px;
    width: 49%; 
    border-radius: 5px;
    font:700 14px 'Montserrat Bold', 'Sans serif';
    text-transform: uppercase;
    
    
   
}
.button {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 240px;
    height: 67px;
    background:#FDD03B;
    text-transform: uppercase;
    color: #fff;
    font: 700 16px 'Montserrat Bold', 'Sans serif';
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
@font-face {
	font-family: 'WisdomScriptAJ';
    src: url('../font/WisdomScriptAJ/WisdomScriptAJ.woff')
    format('woff');
    
}
  
@font-face{
    font-family: "Roboto_Slab";
    src: url("../font/Roboto_Slab/RobotoSlab-Regular.ttf");

}

@font-face{
    font-family: 'Montserrat Bold';
    src: url('../font/Montserrat/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.ttf');
}
 @font-face{
     font-family:'Droid Serif';
     src: url('../font/droid-serif/DroidSerif-Italic.ttf');
 }



